body {
  display: flex;
  justify-content: center;
  background-color: lightgoldenrodyellow;
}
form {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.formulär {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
}
.checkbox {
  display: flex;
}
.checkbox label {
  white-space: nowrap;
}

button {
  width: 70%;
  transition: 0.3;
}
button:hover {
  transform: scale(1.1);
  color: green;
}
@media (min-width: 768px) {
  form {
    width: auto;
  }
  input {
    width: 100%;
  }
  button {
    width: 50%;
  }
}
